<html>
<head>
    <title>Rock Paper Scissors</title>
</head>
<body>
    <h1>Rock Paper Scissors</h1>
    <form action='/player_results' method='post'>
        <button type='submit' name='rock'>Rock</button>
    </form>
    <form action='/player_results' method='post'>
        <button type='submit' name='choice' value='paper'>Paper</button>
    </form>
    <form action='/player_results' method='post'>
        <button type='submit' name='choice' value='scissors'>Scissors</button>
    </form>
</body>
</html>
